.news-list {
    width: 100%;
    padding: 10px;
}

.news-exchange {
    border-right-color: #dee2e6;
    border-right-width: 1px;
    border-right-style: solid;
}

.nav-tabs {
    border-bottom: 1px solid #dee2e6;
    font-weight: bolder;
}

.news-list-item{
    position: relative;
    display: block;
    padding: .50rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}

.news-exchange-img {
    height: 20px;
}

.news-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 70%;
}