#navi{
    width: 100%;
    padding: 10px;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 30px;
    align-items: center;
}

.navi-item {
    color: rgba(0, 0, 0, 0.2);
    padding-left: 15px;
}

.navi-item:hover {
    color: rgba(0, 0, 0, 1);
}

.navi-item-select {
    color: cornflowerblue;
    padding-left: 15px;
}

.navi-item-select:hover {
    color: rgba(0, 0, 0, 1);
}