.input-group {
    margin: 10px;
}

.form-group {
    margin: auto;
    margin-top: 10px;
    display: flex;
    width: 50%;
    min-width: 300px;
    /*box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.25);*/
}

#exchange-list {
    width: 38%;
    min-width: 80px;
}

#search-button {
    width: 15%;
    min-width: 60px;
}

.notice-item:hover {
    cursor: pointer;
    background: rgba(4, 26, 55, 0.15);
}

.page-button {
    margin: auto;
    margin-bottom: 2%;
}

.notice-title {
    width: 60%;
}

#notice-table {
    box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.25);
}

.exchange-name {
    font-family: Monospaced;
    padding: 5px;
}

.notice-exchange {
    width: 20%;
}

