.input-group {
    margin: 10px;
}

.form-group {
    margin: auto;
    margin-top: 10px;
    display: flex;
    width: 50%;
    /*box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.25);*/
}

#exchange_list {
    width: 30%;
    min-width: 80px;
}

#search-button {
    width: 15%;
    min-width: 60px;
}

.notice-item:hover {
    cursor: pointer;
    background: rgba(4, 26, 55, 0.15);
}

.page-button {
    margin: auto;
    margin-bottom: 2%;
}


